<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
{% block content %}
<body>
<h2> Github</h2>
<p><a href="https://github.com/NourSerw"> Github profile </a> </p>
<p> <a href="https://github.com/NourSerw/Comments-Analyzer"> Github repo for CommentsAnalyzer  </a></p>
<br>
<p> Personal <a href="mailto:nouralserw@gmail.com">email</a> if you wish to contact me. If you have any questions,
suggestions, concerns concerning this wee project of mine please do not hesitate to contact me. </p>
</body>
{% endblock %}
</html>