<div class="topnav">
    <a class="active" href="#home">Home</a>
    <div class="search-container">
        <form action="http://localhost:5000/" method="post">
            <input type="text" placeholder="Search" name="Analyze">
            <button type="submit"><i class="fa -fa-search"></i></button>
            <label for="Topic">Choose a topic:</label>
            <select name="topics" id="topics">
                <option value="General">General</option>
                <option value="News">News</option>
            </select>
        </form>
    </div>
</div>

<div style="padding-left:16px">
    <h2> Comments Analyzer </h2>
</div> 