
<html>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <div style="padding-left:16px">
        {% block head %}
        <title>{% block title %} Comments Analyzer{% endblock %}</title>
        <h1>Comments Analyzer</h1>
        <h2>Reddit</h2>
        {% endblock %}
    </div>
    {% block content %}
    <div class="search-container">
        <form action="http://localhost:5000/" method="POST">
            <input type="text" placeholder="Search" name="Analyze">
            <button type="submit" class="btn btn-primary">Submit</button>
            <br><br>
            <select class="topics" id="DropdownSelector" type="text" name="Dropdown" placeholder="Select Topic">
                <option disabled selected>Select a topic</option>
                <option id="general" value="General">General</option>
            </select>
        </form>
    </div>
    {% endblock %}
</div>
</html>

