{% extends "base.html" %}
{% block title %} CommentsAnalyzer {% endblock %}
{% block content %}
<h2> Reddit </h2>
<form action="http://localhost:5000/" method="POST">
    <input type="text" placeholder="Search" name="Analyze">
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>
    <select class="topics" id="DropdownSelector" type="text" name="Dropdown" placeholder="Select Topic">
        <option disabled selected>Select a topic</option>
        <option id="general" value="General">General</option>
        <option id="News" value="News">News</option>
        <option id="Sports" value="Football">Football</option>
    </select>
</form>
{% endblock %}


{% block content_twitter %}
<h2> Twitter </h2>
<form action="http://localhost:5000/" method="POST">
    <input type="text" placeholder="Search" name="Analyze_twitter">
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>
    <select class="topics" id="DropdownSelector" type="text" name="Dropdown_twitter" placeholder="Select Topic">
        <option disabled selected>Select a topic</option>
        <option id="general" value="General">General</option>
        <option id="News" value="News">News</option>
        <option id="Sports" value="Football">Football</option>
    </select>
    <select class="tweet_source" id="DropdownSelector" type="text" name="Dropdown_twitter_source" placeholder="Select Source">
        <option disabled selected>Select Source</option>
        <option id="Hashtag" value="Hashtag">Hashtag</option>
        <option id="tweet" value="Singular_tweet">Singular Tweet</option>
    </select>
</form>
{% endblock %}